.app {
  
}

.header {
  color: white;
  background: #212121;
  padding: 30px 40px;
}

.header__title {
  margin: 0;
  text-transform: uppercase;
}

.header__buttons {
  padding: 16px 40px;
  background: #1c1c1c;
}

.header__buttons .button {
  color:  #000;
  background-color:#ffffff;
  padding: 6px 20px;
  margin-right: 20px;
}

.drivers-list {
  padding: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.drivers-list {
  border-top: 1px solid lightgrey;
}

.drivers-list__item {
  padding: 12px 40px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  align-items: center;
}

.column--points {
  display: flex;
  flex-direction: row;
  flex: 0;
}

.column--points .points{
  width: 60px;
  text-align: center;
}

.column--name {
  padding-left: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.column--team {
  color: gray;
}

.button {
  color: #ffffff;
  background-color: #e10600;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: 1;
}

